/* Styles to copy over */
.hidden{
    display: none;
}
.nav-font{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 520;
    font-size: 1.1em;
}

img {
    max-width: 100%;
}

.navbar .nav-item .dropdown-menu {
    /* background: linear-gradient(to bottom, rgba(0, 68, 0),rgba(140, 198, 63, 1)); */
    background-color: black;
    border: 2px solid rgba(140, 198, 63, 1);
    border-radius: 20px 0 20px 0;
}
.navbar .dropdown-item {
    color: white;
}

.navbar .dropdown-item:focus, .navbar .dropdown-item:hover {
    background-color: transparent;
    text-decoration: underline;
    color: white;
}

.navbar .active {
    text-decoration: underline;
    font-weight: 700;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1) !important;
    letter-spacing: 0.05 !important;
}

.bg-nav {
    width: fit-content;
    background-color: rgba(0,0,0,0.6);
    padding: 1em !important;
    border-radius: 20px 0 20px 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; margin-top:0; }
	/* .navbar .nav-item:hover .nav-link{   } */
	.navbar .nav-item:hover .dropdown-menu{ display: block;}
}

/*  */
body {
    font-family:Arial, Helvetica, sans-serif;
    text-align: left;
}

.container {
    max-width: 60rem;
}

#home {
    background: linear-gradient(to right, rgb(0, 0, 0), rgba(0,0,0,0.8), rgba(0,0,0,0)), no-repeat, url(img/homepage_bg.jpg) ;
    /* background-size: 100% 900px; */
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(140, 198, 63, 1);
}
#about {
    background: no-repeat white url(img/about_bg.jpg);
    background-size: 100% 900px;
}
#contact {
    background: no-repeat white url(img/contact.jpg);
    background-size: 100% 900px;
}
#partners {
    background: no-repeat white url(img/partners_bg.jpg);
    background-size: 100% 900px;
}
#login {
    background: no-repeat white url(img/login-bg.jpg);
    background-size: 100% 900px;
}
#sustainability-index {
    background: no-repeat white url(img/sus-index_bg.jpg);
    background-size: 100% 900px;
}
header {
    width: 100%;
    /* padding-left: 100px;
    padding-top: 50px;
    height: 900px; */
}
.main-header {
    width: 100%;
    padding-left: 50px;
    margin: 2em auto 0 auto;
    min-height: 100px;
    /* height: 100px; */
}
.logo img {
    max-width: 100px;
}
/* Home Main */
#home main {
    padding: 3em 6em 3em 5.5em;
    margin: 2em 0;
}
#home-info {
    max-width: 30rem;
    color: #fff;
}
#home main h1 {
    font-size: 2em;
    color:white;
    border-bottom: solid #8cc63f;
    margin-bottom: 30px;
    font-weight: bold;
    padding-top: 20px;
}
#home main p {
    font-size: 1.2em;
}
#home button {
    border: 4px solid #8cc63f;
    border-radius: 20px 0 20px 0;
    background-color: black;
    box-shadow: 3px 3px 1px rgb(29, 29, 29);
    color: white;
    font-size: 1.2em;
    width: fit-content;
    text-align: center;
    padding: 0.3em 1.2em;
    margin: 0;
    float: right;
}
#home button:hover , #home button:focus{
    background-color: #8cc63f;
    transition: ease 500ms;
    /* border: 2px solid #9ba193; */
}
/* Home Section */
#contact-box {
    position: fixed;
    top: 12em;
    right: 0;
    background-color: white;
    width: fit-content;
    float: right;
}

#home section h5 {
    color: #8cc63f;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    text-align: center;
    padding-top: 5px;
}
#home section h6 {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    letter-spacing: 0.05em;
    padding: 0 1em;
}
/* About */
#about header {
    padding-top: 100px;
}
#circle-bg {
    padding: 2em 0 2em 0;
    text-align: center;
    display: inline;
}
#about header .circle {
    display: inline-block;
    margin: 0.5em;
    padding: 1.3em 1.5em;
    background-color: #fff;
    border-radius: 50%;
    width: 1000px;
    position:absolute;
    left: 1500px;
    top: -150px;
}
#about header .circle img {
    width: auto;
    float: right;
}
#about-info {
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    padding-top: 20px;
}
#about button {
    border: none;
    background-color: #8cc63f;
    color: white;
    font-size: 1.2em;
    width: 200px;
    text-align: left;
    padding: 0 15px;
    margin: 0;
}
#about section, #sustainability-index section {
    font-family: Arial, Helvetica, sans-serif;
}
#about section h2, #sustainability-index section h2 {
    padding-top: 20px;
    color: #8cc63f;
    font-size: 1.5em;
    font-weight: bold;
}
#about section h3{
    color: grey;
    font-size: 1.5em;
    font-weight: bold;
}
#about section h4 {
    color: grey;
}
#about section p, #sustainability-index section p {
    font-size: 1.2em;
}
#about section img{
    width:500px;
}
#mission, #sus-content{
    width: 100%;
    background-color: #f5f5f5;
    border: solid 1px #8cc63f;
    border-bottom: none;
}
#team, #methodology{
    width: 100%;
    border: solid 1px #8cc63f;
}
#mission-info, #team-info, #method-info, #index-info {
    padding: 30px 50px;
}
section #team-members {
    padding-top: 100px;
}
section #team-members img {
    width: 200px;
    height: 200px;
    margin-left: 80px;
}
section #team-members h2, #team-members h3 , #team-members h4 {
    text-align: center;
}
/* partners */
#partners header h1, #sustainability-index header h1 {
    font-size: 100px;
    padding-top: 300px;
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#partners header button, #sustainability-index header button {
    border: none;
    background-color: #8cc63f;
    color: white;
    font-size: 1.2em;
    width: 200px;
    text-align: left;
    padding: 0 15px;
    margin: 600px 20px;
}
#about-info {
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    padding-top: 20px;
}
#partners section img{
    height: 240px;
}
#piconi{
    width: 100%;
    background-color: #f5f5f5;
    border: solid 1px #8cc63f;
    border-bottom: none;
}
#sprouts{
    width: 100%;
    background-color: #f5f5f5;
    border: solid 1px #8cc63f;
}
#bird{
    width: 100%;
    border: solid 1px #8cc63f;
    border-bottom: none;
}
#partners section h2 {
    padding-top: 20px;
    padding-left: 30px;
    color: #8cc63f;
    font-size: 1.5em;
    font-weight: bold;
}
#partners section p {
    font-size: 1.2em;
    padding-left: 30px;
}
/* login */
#login * {
    font-family: Arial, Helvetica, sans-serif;
}
#login header h1 {
    font-size: 100px;
    color: white;
}
#login header h2 {
    font-size: 50px;
    color: white;
    font-weight: normal;
    text-decoration: underline;
    padding-top: 30px;
}
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #c62610;
    color: white;
  }
  
  /* position the close button */
.imgcontainer {
    margin: 24px 0 12px 0;
    position: relative;
  }
  
.container {
    padding: 16px;
  }
  
span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
.close:hover, .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }

/* sustainability index */
#sustainability-index section img{
    height: 350px;
}