doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel='preconnect', href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Sacramento&display=swap' type='text/css')
    link(href='/css/style.css', rel='stylesheet', type='text/css')
  body
    header
      nav
        ul
          li
            a(href='/') Home
          li
            a(href='#') Blog
          li
            a(href='/register') Register
    main
      section#intro-text
        span Simple Kitchen
        h3 Simple Comforting
        p Pan-seared chicken, Grill shrimp, mac & cheese—need we say more?
        button.submit-buttton View Recipes

      block content

    footer &copy; Copyright 2021
